body {
  background: url(../images/tic-tac-toe.png);
}

.topics {
  margin:2px;
  border-radius: 6px;
  padding: 5px;
  background-color: #97d9e1;
  border: solid 2px #6ebdc7;
}

#add-topic {
  margin:2px;
  border-radius: 6px;
  padding: 5px;
  background-color: #97d9e1;
  border: solid 2px #6ebdc7;
}

#topic-input {
  margin:2px;
  border-radius: 6px;
  padding: 5px;
  background-color: #97d9e1;
  border: solid 2px #6ebdc7;
}

#bannertitle {
  width: 300px;
  margin-left: 20px;
  margin-top: -25px;

}
